.App {
  text-align: center;
 }

.wrapper {
  opacity: 0;
  -webkit-transition:opacity .6s;
  -moz-transition:opacity .6s;
  -o-transition:opacity .6s;
  transition: opacity .6s;
 }


.wrapper-loaded {
  opacity: 1!important;
 }
.header-shadow {
  box-shadow: 2px 2px 2px rgb(0, 0, 0, .3);
  z-index: 1;
 }

.landing-background{
  background-image: radial-gradient(rgb(255, 226, 200), rgb(250, 189, 136));
  min-height: 100vh;
  opacity: 0;

  -webkit-transition:opacity 3s;
  -moz-transition:opacity 3s;
  -o-transition: 3s;
  transition: opacity 3s;
 }


::-webkit-scrollbar{
  opacity:0;
  width: 0px;
 }


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
