.App {
  text-align: center;
 }


 #root {
   width: 100%;
 }

.wrapper {
  opacity: 0;
  width: 100%;
  -webkit-transition:opacity .6s;
  -moz-transition:opacity .6s;
  -o-transition:opacity .6s;
  transition: opacity .6s;
 }
/* 
 #paths-container {
   padding: 0;
 } */

 .navbar {
   background-color: rgb(255, 231, 211);
 }

.wrapper-loaded {
  opacity: 1!important;
 }
.header-shadow {
  box-shadow: 2px 2px 2px rgb(0, 0, 0, .3);
  z-index: 1;
 }

.landing-background{
  background-image: radial-gradient(rgb(255, 226, 200), rgb(250, 189, 136));
  min-height: 100vh;
  opacity: 0;

  -webkit-transition:opacity 1.6s;
  -moz-transition:opacity 1.6s;
  -o-transition: 1.6s;
  transition: opacity 1.6s;
 }

#home-background{
  background-color: rgb(255, 240, 227);
  min-height: 100vh;
  opacity: 0;
  padding: 0;

  -webkit-transition:opacity 1.6s;
  -moz-transition:opacity 1.6s;
  -o-transition: 1.6s;
  transition: opacity 1.6s;
 }

 #list {
   background-color: rgb(255, 247, 240);
   border-radius: 25px;
   min-height: 25%;
 }

 #add-btn {
   background-color: peachpuff;
 }


::-webkit-scrollbar{
  opacity:0;
  width: 0px;
 }


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
