#green {
    background-color: green;
 }

 #yellow {
    background-color: yellow;
 }

 #red {
    background-color: red;
 }

 #grey {
    background-color: lightgrey;
 }

 #color-indicator-x {
    opacity: 0;
    z-index: -5;
 }

 .listItem {
    border-radius: 20px;
    background-color: rgb(235, 235, 235);
  }

